@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Deep Corporate Dark Palette */
    --background: 222 47% 4%;
    --foreground: 210 40% 98%;

    --card: 222 47% 6%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 4%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217 32% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 32% 17%;
    --muted-foreground: 215 20% 65%;

    /* Metallic Gold Accent */
    --accent: 36 45% 56%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 32% 17%;
    --input: 217 32% 17%;
    --ring: 224 76% 48%;

    --radius: 0.125rem; /* Bordas ainda mais sóbrias e retas */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    background-color: #050A15;
  }
}